.card {
  background-color: #d4e2d4;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  max-width: 35rem;
  min-width: 25rem;
  height: 10rem;
  border-radius: 8px;
}

.card__header {
  color: #ecb390;
}

.card__description {
  color: #ecb390;
}
