.container {
  background-color: var(--white);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 8px;
  padding: 1rem;
  gap: 2rem;
}

.newCardHeader {
  color: var(--grey-800-text);
  border-bottom: 1px solid #ecb390;
  margin: auto;
}

.input {
  background-color: var(--grey-100-background-light);
  color: var(--grey-900-text-dark);
  height: 2.5rem;
  margin-left: 3px;
  padding: 0 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.inputDescription {
  background-color: var(--grey-100-background-light);
  color: var(--grey-900-text-dark);
  width: 100%;
  border-radius: 5px;
  border: none;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  color: var(--grey-700-text-light);
}

.button {
  display: inline-block;
  width: 40%;
  margin-left: auto;
  outline: 0;
  appearance: none;
  padding: 0 12px;
  border: 0 solid transparent;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgb(9, 128, 76);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
}
